
  .searchResults {
    flex: 1;  /* Asegura que empuje el footer abajo aunque esté vacío */
    padding: 20px;
  }
  .sortContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    color: white;
    background-color: #121212;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #444;
  }
  
  .sortContainer select {
    padding: 5px;
    background-color: #333;
    color: white;
    border: 1px solid #666;
    border-radius: 5px;
  }