/* Botón general */
.button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.addButton,
.modificar, .guardar{
  background-color: #980a0a	;
  color: white;
}

.addButton:hover,
.modificar:hover,
.guardar:hover {
  background-color: #780909;
  transform: scale(1.02);
}

.eliminar {
  background-color: #43465e;
  color: white;
}

.eliminar:hover {
  background-color: #131834;
  transform: scale(1.02);
}

.cancelar {
  background-color: #000000;
  color: #ffffff;
}

.cancelar:hover {
  background-color: #564d4d;
  transform: scale(1.02);
}
