.tittle {
  font-family: 'Helvetica', 'Arial', sans-serif; 
  font-weight: bold; 
  color: #E50914; 
  text-transform: uppercase; 
  flex: 0; 
  min-width: 0; 
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}
