.inputSearchContainer {
  display: flex;
  justify-content: left;
  padding: 20px;
}

.inputWrapper {
  position: relative;
  flex-grow: 1;
  max-width: 800px;
}


.inputField {
  width: 100%;
  padding: 12px 12px 12px 12px; 
  font-size: 16px;
  color: #333; 
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: all 0.3s ease;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.inputField::placeholder {
  color: #aaa; 
}

.inputField:focus {
  border-color: #0077ff;
  background-color: #fff;
  box-shadow: 0 0 0 3px rgba(0, 119, 255, 0.2);
}
