/* Contenedor principal */
.homeContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  background-color: #1e1e1e;
  color: white;
}

/* Header (parte superior) */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #121212;
  border-bottom: 1px solid #333;
}

/* Contenido principal entre header y footer */
.contentWrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  max-width: 1300px;
  flex: 1;
}


/* Parte izquierda: Carruseles */
.mainContent {
  flex: 2;
  min-width: 0;
}



/* Footer (parte inferior) */
.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px;
  background-color: #121212;
  color: #aaa;
  border-top: 1px solid #333;
  padding: 10px;

}

.underNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 65px;
}
