.homeContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #1e1e1e;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #121212;
  border-bottom: 1px solid #333;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  flex: 1;
  margin: 0 auto; 
  margin-right: 20px;
}

.mainContent {
  flex: 2;
  min-width: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px;
  background-color: #121212;
  color: #aaa;
  border-top: 1px solid #333;
}

.underNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px 50px;
}

@media (max-width: 768px) {
  .header,
  .footer,
  .underNavbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 10px;
    text-align: left;
    align-items: center;
  }
  .contentWrapper {
    flex-direction: column;
    padding: 10px;
    width: 95%;
    max-width: 100%;
    overflow-x: hidden;
  }

  .mainContent {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
  
  .underNavbar {
    gap: 10px;
    align-items: center;
  }

  @media (max-width: 768px) {
    .contentWrapper {
      flex-direction: column !important;
    }
  
    .filterWrapper {
      order: 1;
      width: 100%;
    }
  
    .mainContent {
      order: 2;
      width: 100%;
    }
  }
}